{% set disableIfNotConnected = app.user ? "" : "disabled" %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="/">
		<i class="fas fa-home"></i>
		Démo SF
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/shop">
					<i class="fas fa-store"></i>
					{{ 'default.navbar.shop' | trans }}

				</a>
			</li>
			<li class="nav-item">
				{{ render(controller('App\\Controller\\CartController::nbProducts')) }}
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/contact">
					<i class="fas fa-comments"></i>
					{{ 'default.navbar.contact' | trans }}
				</a>
			</li>
			<li class="nav-item dropdown">
				<span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-user"></i>
					{{ 'default.navbar.connexion' | trans }}
				</span>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					<a class="dropdown-item " href="/login">
						{{ 'default.navbar.register' | trans }}
					</a>
					<a class="dropdown-item {{disableIfNotConnected}}" href="/user">
						{{ 'default.navbar.myAccount'  | trans }}
					</a>
					<a class="dropdown-item {{disableIfNotConnected}}" href="/mi5/fr/usager/commandes">
						{{ 'default.navbar.myOrders' | trans }}
					</a>
					<a class="dropdown-item {{disableIfNotConnected}}" href="/logout">
						{{ 'default.navbar.logout' | trans }}
					</a>
				</div>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item" data-toggle="tooltip" title="Ne devra être visible que pour l'Admin" data-placement="right" data-html="true">
					<span class="nav-link disabled" href="">
						<i class="fas fa-tools"></i>
						{{ 'default.navbar.backOffice' | trans }}
					</span>
				</li>
			{% endif %}
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" id="searchString" type="text" placeholder="Chercher Produits..." aria-label="Search">
			<button class="btn btn-secondary my-2 my-sm-0" id="searchButton">
				<i class="fas fa-search"></i>
			</button>
		</form>
		<ul class="navbar-nav my-0">
			<li class="nav-item dropdown">
				<span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					EUR
				</span>
				<div class="dropdown-menu" aria-labelledby="dropdown02" style="min-width: 5rem;">
					<a class="dropdown-item" href="/mi5/fr/changer_monnaie/CAD/boutique_index/%7B%22_locale%22:%22fr%22%7D">
						CAD
					</a>
					<a class="dropdown-item" href="/mi5/fr/changer_monnaie/USD/boutique_index/%7B%22_locale%22:%22fr%22%7D">
						USD
					</a>
					<a class="dropdown-item" href="/mi5/fr/changer_monnaie/GBP/boutique_index/%7B%22_locale%22:%22fr%22%7D">
						GBP
					</a>
					<a class="dropdown-item" href="/mi5/fr/changer_monnaie/PHP/boutique_index/%7B%22_locale%22:%22fr%22%7D">
						PHP
					</a>
					<a class="dropdown-item" href="/mi5/fr/changer_monnaie/IDR/boutique_index/%7B%22_locale%22:%22fr%22%7D">
						IDR
					</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav my-0">
			<li class="nav-item dropdown">
				<span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="/mi5/images/locale/fr.png" alt="Fr">
				</span>
				<div class="dropdown-menu" aria-labelledby="dropdown03" style="min-width: 5rem;">
					<a class="dropdown-item" href="/mi5/en/boutique">
						<img src="/mi5/images/locale/en.png" alt="En">
					</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
